annotated-types==0.8.0
anyio==4.15.0
certifi==2026.7.22
colorama==0.4.6
distro==1.9.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jiter==0.16.0
keyring==25.7.0
more-itertools==11.1.0
numpy==2.5.2
openai==2.54.0
PyAudioWPatch==0.2.12.8
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
PySide6_Essentials==6.11.2
python-dotenv==1.2.3
pywin32-ctypes==0.2.3
shiboken6==6.11.2
sniffio==1.3.1
soxr==0.5.0.post1
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
